<div class="app">
	<div class="app__select">
		<h3 class="app__header">Wyłączone</h3>
		<select-component disabled="true"></select-component>
	</div>
	<div class="app__select">
		<h3 class="app__header">Wyłączone wypełnione</h3>
		<select-component disabled="true" default="Styczeń"></select-component>
	</div>
	<div class="app__select">
		<h3 class="app__header">Puste</h3>
		<select-component></select-component>
	</div>
	<div class="app__select">
		<h3 class="app__header">Puste</h3>
		<select-component></select-component>
	</div>
</div>
